.Body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Body > div:first-child {
    background: url("https://images.unsplash.com/photo-1721766827830-961da6ed8c91?q=80&w=1926&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center fixed;
    min-height: calc(100vh - 68px);
    background-size: cover;
    box-shadow: 4px 0 4px rgb(0,0,0, 0.25);
    border-radius: 0 0 8px 0;
}
.Body > div:last-child {
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Step_form_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}

@media screen and (max-width: 600px){
    .Body {
        display: flex;
        flex-direction: column-reverse;
    }
}