.Main {
    min-height: calc(100vh);
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 14px;
}

.Left_body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.Segments_body {
    padding: 14px;
}

.Movies_body {
    width: 100%;
    padding: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 14px;
}

.Pagination_body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.Main > div:last-child {
    padding: 14px;
}

@media screen and (max-width: 1300px) {
    .Movies_body {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 1000px) {
    .Movies_body {
        grid-template-columns: 1fr 1fr;
    }

    .Main {
        min-height: calc(100vh);
        display: grid;
        grid-template-columns: 1fr;
        gap: 14px;
    }
}
@media screen and (max-width: 600px) {
    .Movies_body {
        grid-template-columns: 1fr;
    }
}