.Main {
    min-height: calc(100vh);
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 24px;
}

.Main > div:first-child  {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.Main > div:first-child > div {
    padding: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 14px;
}
.Main > div:last-child {
    padding: 14px;
}