@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

h1,h2,h3,h4,h5,h6,article,p,span,a,input,button,label,div{
  font-family: 'Quicksand', sans-serif !important;
  margin: 0;
  padding: 0;
}


/* Размер шрифта для заголовков и других текстов */
h1 {
  font-size: clamp(2rem, 4vw + 1rem, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
}

h3 {
  font-size: clamp(1.25rem, 2.5vw + 0.75rem, 2.5rem);
}

h4 {
  font-size: clamp(1.125rem, 2vw + 0.5rem, 2rem);
}

h5 {
  font-size: clamp(1rem, 1.75vw + 0.25rem, 1.5rem);
}

h6 {
  font-size: clamp(0.875rem, 1.5vw + 0.25rem, 1.25rem);
}

article {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
}

p {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
}

span {
  font-size: clamp(0.875rem, 1.5vw + 0.25rem, 1rem);
}

a {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
}

input, button, label {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
}

div {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    min-height: calc(100vh - 86px);
}